<div id="page-wrapper" style="margin:0px;">
    <div class="row">
        <div class="col-md-12 hidden-sm hidden-xs">
            <h1 class="page-header">
                <center>
                    <img src="images/mainbanner.png" style="display: block; height: auto; max-width: 100%;" />
                </center>
            </h1>
        </div>
        <div class="col-sm-12 hidden-md hidden-lg hidden-xl">
            <h1 class="page-header">
                <center>
                    <img src="images/mobilebanner.png" style="display: block; height: auto; max-width: 100%;" />
                </center>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <h1>{{title}}</h1>
    <div class="alert alert-success" id="submissionSuccess" role="alert" style="display:none">Thank you for providing feedback.
        <br/>
        <br/>Your responses are important and will be reviewed.
        <br/>A shortlist of common wishlist requests will be considered according to their frequency
        <br/>
    </div>
    <div class="row" id="externalcloudFeedback">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="fa fa-align-left fa-cloud">
                        </span>Feedback</a>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="form-area col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                        <form role="form">
                            <h3 style="margin-bottom: 15px; text-align: center;">What's on your mind?</h3>
                            <h4 style="margin-bottom: 25px; text-align: center;" id="motd"></h4>
                            <div class="col-sm-12" style="padding-top:25px;padding-bottom:10px;">
                                <p>Let us know what you think and what you would like to see in future</p>
                            </div>
                            <div class="form-group col-sm-6 has-feedback">
                                <div class="input-group has-feedback">
                                    <span class="input-group-addon">Your Initiative
                                        <span class="fa fa-info-circle" data-toggle="tooltip" title="" data-original-title="Which Initiative did you work on? If you haven't yet raised a request simply leave this blank"></span>
                                    </span>
                                    <input type="text" class="form-control" id="initiativename">
                                </div>
                            </div>
                            <div class="form-group col-sm-6 has-feedback">
                                <div class="input-group has-feedback">
                                    <span class="input-group-addon hidden-xs">How was it</span>
                                    <div class="well well-sm text-center">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-danger">
                                                <input type="radio" name="options" id="option2" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>

                                            <label class="btn btn-warning">
                                                <input type="radio" name="options" id="option2" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>


                                            <label class="btn btn-default">
                                                <input type="radio" name="options" id="option2" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>

                                            <label class="btn btn-info">
                                                <input type="radio" name="options" id="option2" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>

                                            <label class="btn btn-success active">
                                                <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="col-sm-12">What did you like?
                                    <span class="fa fa-info-circle" data-toggle="tooltip" title="" data-original-title="What worked well to make your experience better?"></span>
                                </label>
                                <textarea class="form-control" type="textarea" id="readers" maxlength="140" rows="6"></textarea>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="col-sm-12">What didn't you like?
                                    <span class="fa fa-info-circle" data-toggle="tooltip" title="" data-original-title="What could have been done better?"></span>
                                </label>
                                <textarea class="form-control" type="textarea" id="contributors" maxlength="140" rows="6"></textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-12">Do you have any suggestions ?
                                    <span class="fa fa-info-circle" data-toggle="tooltip" title="" data-original-title="What would you like to see in future releases?"></span>
                                </label>
                                <textarea class="form-control" type="textarea" id="assistanceRequestedNotes" maxlength="140" rows="3"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="button" class="btn btn-success btn-lg btn-block span6" id="giveFeedback">Submit Request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
